<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>注册页面</title>
<link rel="stylesheet" href="/static/css/login.css" type="text/css" />
</head>
<body>
	<div class='register'>
        <form action='/web/register/' method='POST'>       
		<div class="info" style="padding-top:60px; padding-left:76px;">
        <div class="input_box">
           <input name='username' value="" type="text" class="input1" placeholder="用户名"><span class=""></span>
        </div>
        <div class="input_box">
           <input type="password" name="password" value="" class="input1" placeholder="密码">
        </div>
        <div class="input_box">
           <input type="password" name="password" value="" class="input1" placeholder="确认密码">
        </div>
        <div class="input_box">
            <input type="text" name="email" value="" class="input1" placeholder="邮箱">
        </div>
 
        <div class="input_box">
		    <select name="user_type" class="input1">
		      <option value="1">普通用户</option>
		    </select>
		     <!-- 
           <input type="text" name="user_typr" value="" class="input1" placeholder="用户类型">
           	  -->
        </div>

            <div class="input_box">
            <input type="submit" name="submit" class="button1" value="用户注册">
            </div>
            <label style='color:red;'> {{status}} </label>
        </div>
        </form>

    </div>
    <p>Copyright © 1998 - 2014 ：yazhoujuejin.com All Rights Reserved</p>
</body>
</html>