{% extends "master/layout.html "%}
<!-- 继承模板 -->

<!-- 下面的部分是我们在模板中定义的可以变动的部分 -->
{% block content %}
	<div style='height:90px;'>
		<div style='margin-top:25px;'>
			<div style='text-align:center;'><a>欢迎登录主机管理系统</a></div>
			<div style='text-align:center;margin-top:25px;margin-bottom:25px;'>
			<form action='/manager/login/' method='POST'>	
				用户名：<input name='username'/>
				<br />
				<br />
				密    码：<input name='password' type="password"/>
				<br />
				<br />
				<input type='submit' value='提交'/><span style='color:red;margin-left:155px;'>{{status}}</span>
			</form>
			</div>
		<div>
	</div>
{% endblock %}