<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>分页练习</title>
<link href='/static/css/list.css'  rel='stylesheet' id='dashicons-css' type='text/css' />
<script type="text/javascript" src="/static/js/jquery-3.2.1.js"></script>
<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
</head>
<body>
	<h1>主机信息</h1>
	<table border="1px">
		   <tr>
				<td>id</td>
				<td>HostName</td>
				<td>Ip</td>
				<td>CreateDate</td>
			</tr>
		{% for item in data %}
			<tr>
				<td>{{ item.id}}</td>
				<td>{{ item.HostName}}</td>
				<td>{{ item.Ip}}</td>
				<td>{{ item.CreateDate}}</td>
			</tr>
		{% endfor %}
	</table>
	<div>总条数为：{{count}}条,当前是第{{page}}页；</div>
	<div>
		<select onChange="ChangePageItem(this);" id='s1'>
			<option value='5'>5</option>
			<option value='10'>10</option>
			<option value='20'>20</option>
			<option value='30'>30</option>
		</select>
	</div>
	<div id='Pageing'>
		{{Hpage}}
	</div>
	<script type="text/javascript">
		$(function{
			var per_item = $.cookie("pager_num");
			if(per_item){
				$('#s1').val(per_item);
			}
		}) 
    </script>
    <script type="text/javascript">
		function ChangePageItem(arg){
			//创建或修改cookies的值
			var value = $(arg).val();
			$.cookie("pager_num",value,{path:'/'});
		}
    </script>
</body>
</html>